@import '../../Styles/utilities';
@import '../../Styles/variables';

.hero {
  position: relative;
  &__image {
    img {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;

    &__title {
      text-transform: uppercase;
      font-size: $base-size + 1.6rem;
      font-weight: 900;
      margin-bottom: 2rem;
      text-shadow: $text-shadow;
    }

    &__sub-title {
      font-size: $base-size + 0.6rem;
      text-align: center;
      text-shadow: $text-shadow;
      margin-bottom: 1.5rem;
    }

    &__button {
      border: none;
      background-color: $color-gray-1;
      padding: 1.2rem 4.4rem;
      font-size: $base-size + 0.4rem;
      border-radius: 100rem;
      color: #fff;
      text-align: center;
    }
  }
}
