$main-color-text: #333333;

$color-blue: #2563eb;
$color-blue-2: #7dd3fc;
$color-gray: #a19f9f;
$color-gray-2: #cbd5e1;
$color-gray-1: #3b3a44ba;
$color-orange: #f69321;

$linear-gradient1: linear-gradient(135deg, #7dd3fc, #7dd3fc 50.52%, #2563eb);
$linear-gradient2: linear-gradient(135deg, #7dd3fc 50.52%, #2563eb);
$text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

$base-size: 1.4rem;
$font-main: 'Nunito', sans-serif;
